{{ form_start(form) }}
<div class="mb-3">
    {{ form_label(form.nom) }}
    {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
</div>

<button class="btn btn-primary" style="border-radius: 20px;">
    <i class="bi bi-save"></i> {{ button_label|default('Enregistrer') }}
</button>
{{ form_end(form) }}
